/* .flex_box{
    display: flex;
    flex-box:row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.item_box{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.box01{
    font-size: 20px;
}
.box02{
    font-size: 40px;
    
}
.box03{
    font-size: 60px;

}
*/

body{
 background-color: azure;
}
#title{
 color: blue;
}

